 *{
         margin: 0;
         padding: 0;
         position: absolute;
    } 
    .text{
        font-size: 12px;
        line-height: 100%;
        font-family: Î¢ÈíÑÅºÚ;
        font-weight: bold;
        color: red;
    }

    .trap{
        width: 25px;
        height: 15px;
        background: lightgray;
        border: solid 1px;
        line-height: 15px;
        text-align: center;
        font-weight: 700;
        cursor: none;
    }
    
     .coldhot{
         width: 22px;
         height: 22px;
         border: solid 1px;
         display: block;
         background-color: lightgray;
         text-align: center;
         line-height: 22px;
         cursor: none;
     }

    .line-h{
        background-color: red;
        height: 2px;
    }
    
    .line-v{
        background-color: red;
        width:2px;
    }
    
    .textarea{
        width: 80px;
        height:25px;
        background-color: lightgray;
        border: solid 1px;
        text-align: center;
        line-height: 25px;
    }
    
    span img:hover{
         cursor:pointer;
    }